@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}

.lista {
    margin-top: 40px;
    width: 60%;
}  

.lista__cabecalho button {
  position: absolute;
  right: 18%;
  margin-top: -35px;
} 

button {
    width: 10%;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.lista__cabecalho i {
  font-size: 30px;
} 

.lista__cabecalho h1 {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
}

.lista__inserir {
  padding: 10px;
  background-color: lightgray;
  border-radius: 10px;
  display: flex;
  box-shadow: 6px 5px 10px 0px grey;
}

.lista__inserir__texto {
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    width: 90%;
}  

.bx-plus {
  font-size: 30px;
  margin-left: 10px;
  background-color: rgb(139, 14, 223);
  border-radius: 50%;
  padding: 5px;
  color: white;
}

ul {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
}

.rodape {
  display: block;
  text-align: center;
  margin-top: 2em:
  font-size: 1.75em;
  color: #000000;
  padding: 0.2em;
}

/* JAVASCRIPT */

.divLi {
  margin-top: 20px;
  padding: 10px;
  background: lightgray;
  border-radius: 10px;
  box-shadow: 6px 5px 10px 0px grey;
  display: flex;
  align-items: center;
}

.divLi span {
  width: 80%;
  color: dimgray;
}

.divLi input {
  width: 10%;
  outline: none;
  accent-color: currentcolor;
}

.divLi i {
  font-size: 1.875rem;
  color: brown;
}

li {
  list-style-type: none;
}

.line-through {
  text-decoration: line-through;
}

/* RESPONSIVIDADE */

@media (max-width: 775px) {
  input {
    width: 70%;
  }

  .lista__inserir button {
    width: 30%;
  }

  i {
    font-size: 30px;
    padding: 0px;
  }

  h1 {
    font-size: x-large;
  }
}
